<html>

<head>
<title>FNC_Sceleton</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="Help.css">
</head>

<body bgcolor="#FFFFCC">
<BLOCKQUOTE> 
  <h2>Funktion Name</h2>
  <p> Kurzbeschreibung </p>
  <h3>Schnittstelle</h3>
  <p class="interface">FUNCTION Name : Datentyp</p>
  <p class="interface">&nbsp;</p>
  <p class="interface">VAR_INPUT </p>
  <BLOCKQUOTE class="structinterface"> 
    <p class="interface">...</p>
  </BLOCKQUOTE>
  <p class="interface">END_VAR</p>
  <p class="interface">&nbsp; </p>
  <p class="interface">VAR_OUTPUT </p>
  <BLOCKQUOTE class="structinterface"> 
    <p class="interface">... </p>
  </BLOCKQUOTE>
  <p class="interface">END_VAR</p>
  <p class="interface">&nbsp;</p>
  <p class="interface"> VAR_IN_OUT</p>
  <BLOCKQUOTE class="structinterface"> 
    <p class="interface"> ... </p>
  </BLOCKQUOTE>
  <p class="interface">END_VAR</p>
  <h3>Rückgabewert </h3>
  <p>Wert vom Typ <i><b>Datentyp</b></i> </p>
  <p>Beschreibung </p>
  <h3>Parameter </h3>
  <h3>INPUT </h3>
  <p><strong>ParameterName</strong></p>
  <p class="indent"> Wert vom Typ <i><b>Datentyp</b></i> </p>
  <p class="indent">Beschreibung</p>
  <p> ... </p>
  <h3>OUTPUT </h3>
  <p><strong>ParameterName</strong> </p>
  <p class="indent">Wert vom Typ <i><b>Datentyp</b></i> </p>
  <p class="indent">Beschreibung</p>
  <p> ... </p>
  <h3>IN_OUT </h3>
  <p><b>ParameterName</b> </p>
  <p class="indent">Wert vom Typ <b><i>Datentyp</i></b> </p>
  <p class="indent">Beschreibung </p>
  <p>... </p>
  <h3>Beschreibung </h3>
  <p>Beschreibungstext </p>
</BLOCKQUOTE>
</body>
</html>
