p.interface {  margin-top: 2px; margin-bottom: 2px; font-size: 10pt; font-family: "Courier New", Courier, mono}
p.indent { margin-left : 40px}
p {  font-family: Arial, Helvetica, sans-serif}
h2 {  font-family: Arial, Helvetica, sans-serif}
h1 {  font-family: Arial, Helvetica, sans-serif}
h3 {  font-family: Arial, Helvetica, sans-serif; margin-top: 45px}
h4 {  font-family: Arial, Helvetica, sans-serif; margin-top: 45px}
h5 {  font-family: Arial, Helvetica, sans-serif; margin-top: 40px}
blockquote.structinterface {  margin-top: 1px; margin-bottom: 1px}
