#include "version.rc2"
#include "CG_Messages.rc"
#include "resource.h"


STRINGTABLE DISCARDABLE 
BEGIN
    //these strings are used as positional arguments in
    //generic error messages
    ST_RES_STR_PROCEDURE         "Procedures"
    ST_RES_STR_INPUT             "VAR_INPUT"
    ST_RES_STR_OUTPUT            "VAR_OUTPUT"
    ST_RES_STR_INOUT             "VAR_INOUT"

    ST_RES_STR_NUMBER            "number"  
    ST_RES_STR_IDENTIFIER        "identifier" 
    ST_RES_STR_VARIABLE          "variable"
    ST_RES_STR_LABEL             "jump label"
    ST_RES_STR_NAMED_CONST       "constant"
    ST_RES_STR_FILENAME          "file name"
    ST_RES_STR_CONF_NAME         "configuration name"
    ST_RES_STR_LIB_NAME          "library name"

    CG_RES_STR_VARREAD           "Var Read"
    CG_RES_STR_VARWRITE          "Var Write"
    CG_RES_STR_FEEDBACK          "Var Feedback"
    CG_RES_STR_FEEDBACK_L        "Var Feedback (left pin)"
    CG_RES_STR_FEEDBACK_R        "Var Feedback (right pin)"
    CG_RES_STR_CONNECTOR         "Connector"
    CG_RES_STR_CONTINUATION      "Continuation"
    CG_RES_STR_POWERRAIL         "Powerrail"
    CG_RES_STR_COIL              "Coil"
    CG_RES_STR_CONTACT           "Contact"
    CG_RES_STR_WIREDOR           "Wiredor"
    CG_RES_STR_FB                "Function Block"
    CG_RES_STR_FCT               "Function"
    CG_RES_STR_LABEL             "Label"
    CG_RES_STR_JUMP              "Jump"
    CG_RES_STR_RETURN            "Return"
    CG_RES_STR_TRANS_RET         "Transition return"
    CG_RES_STR_FCT_RES           "Function result"

    CG_RES_STR_MIX_INOUT         "mixing of inputs/outputs in function interface, all inputs must preceed all outputs or vice versa"  
    CG_RES_STR_MIX_INOUT_EXT     "mixing of inputs/outputs and extended inputs in function interface, all other inputs and outputs must preceed the extended input"  
    CG_RES_STR_INLINE_FB         "inline{...} syntax for function blocks"
    CG_RES_STR_INLINE_LOC_VAR    "inline{...} functions with local variables"
    
    CG_RES_STR_LIB               " in library "
    CG_RES_STR_PRECOMPILED       "    was called from precompiled code of "

    CG_RES_STR_CONNECTED_WITH    " connected with "            // eg. "A conected with B" where A and B are one of next 16...
    CG_RES_STR_ACTBL_ALLOWED     ", only actionblocks allowed" // eg. "bla bla, only actionblocks allowed"

    CG_RES_STR_SFCELEM           "sfc element"
    CG_RES_STR_NONSFCELEM        "non sfc element"
    CG_RES_STR_WRONGSFCELEM      "wrong sfc element"
    CG_RES_STR_FDBELEM           "FBD element"
    CG_RES_STR_STEP              "step"                        // may be "step 'step_name'"
    CG_RES_STR_STEP_IN           "input of step"
    CG_RES_STR_STEP_OUT          "output of step"
    CG_RES_STR_STEP_INOUT        "input or output of step"
    CG_RES_STR_STEPX_OUT         "step.X output"
    CG_RES_STR_ACTBL             "actionblock"
    CG_RES_STR_TRANS             "transition"
    CG_RES_STR_TRANS_IN          "input of transition"
    CG_RES_STR_TRANS_OUT         "output of transition"
    CG_RES_STR_QUALIFIER         "qualifier"
    CG_RES_STR_CONV_DIV          "convergence or divergence"
    CG_RES_STR_CONV_DIV_IN       "input of convergence or divergence"
    CG_RES_STR_CONV_DIV_OUT      "output of convergence or divergence"

    CG_RES_STR_PREDS             "predecessors"
    CG_RES_STR_SUCCS             "successors"
    CG_RES_STR_PRED              "predecessor"
    CG_RES_STR_SUCC              "successor"

    CG_RES_STR_MULTI_STEP        "transition has multiple successor steps connected via direct link"

    CG_RES_STR_NOOVERLOAD        "no overload takes "
    CG_RES_STR_PIN_IN            " input pins"
    CG_RES_STR_PIN_OUT           " output pins"

    CG_RES_STR_NONSIMPLEDTYPE    "LD/FBD: non simple datatype as function output (forcing a temporary variable)"

    CG_RES_STR_OR_NOEFFECT       "Wired Or: has no effect (one input is power rail)"
    CG_RES_STR_OR_BADRSIG        "Wired Or: looks like FDB: signal source is a "
    
    CG_RES_STR_BADLEFTSIGNAL     "bad left signal source"
    CG_RES_STR_OPENRIGHTSIDE     "right side must be open or (right) powerrail"
    CG_RES_STR_EN_NOTNEGATED     "EN/ENO cannot be negated"
    CG_RES_STR_ENO_NOTSPLIT      "ENO signal must not be split"
    CG_RES_STR_ENO_NOTCONNECT    "ENO not directly connected to next EN, jump or return"
    CG_RES_STR_EN_SIGNALSPLIT    "signal split at in/output of EN/ENO box not allowed"
    CG_RES_STR_EN_BADINPUT       "bad input signal: neither VarRead nor previous EN/ENO output"
    CG_RES_STR_EN_BADOUTPUT      "bad output signal: neither VarWrite nor input of next EN/ENO"
    CG_RES_STR_EN_NOTCONNECT     "EN not connected to ENO (better use second network?)"
    CG_RES_STR_OR_NOINPUT        "Wired Or without inputs"
    CG_RES_STR_OR_NOOUTPUT       "Wired Or without outputs"
    CG_RES_STR_BAD_POWERRAIL     "powerrail connected from both sides"
    CG_RES_STR_REFFEEDBACK       "Var Feedback not supported in LD language"

    CG_RES_STR_OPEN_SIMCON       "Not all input branches of a simultaneous convergence reached."
    CG_RES_STR_UNSAFE_FINAL      "Final node under simultaneous divergence."
    CG_RES_STR_UNSAFE_LOOP       "Profileration of tokens. Loop of one branch of a simultaneous divergence."
    CG_RES_STR_OPEN_ALTDIV       "Convergence missing under alternative divergence."
    CG_RES_STR_TOKEN_JUMP        "Token entering a branch of a simultaneous sequence from outside that branch."
    CG_RES_STR_STEPNOTREACHED    "Step is never reached: "

    CG_RES_STR_SFC_NO_INISTEP    "SFC has no initial step"
    CG_RES_STR_SFC_MULTI_INISTEP "SFC has multiple initial steps"
    CG_RES_STR_STEP_ALREADY_DEF  "is already defined as step"
    CG_RES_STR_TRANS_ALREADY_DEF "is already defined as transition"

    CG_RES_STR_TRANS_NOPRED      "transition has no predecessor step"
    CG_RES_STR_TRANS_NOSUCC      "transition has no successor step"
    CG_RES_STR_SIMCONV_ONEPRED   "simultaneous convergence has only one predecessor step"
    CG_RES_STR_ALTCONV_MULTPRED  "alternative convergence has multiple predecessor steps"
    CG_RES_STR_SIMDIV_ONESUCC    "simultaneous divergence has only one successor step"
    CG_RES_STR_ALTDIV_MULTSUCC   "alternative divergence has multiple successor steps"

    CG_RES_STR_ALREADY_PRED      "is already predecessor of another transition"
    CG_RES_STR_ALREADY_SUCC      "is already successor of another transition"

    CG_RES_STR_TIME_QUALIFIER    "time qualifier"

    CG_RES_STR_DECL_RETAIN       " cannot be declared [NON_]RETAIN"
    CG_RES_STR_PRG_USING         "programs using "  //eg. 'programs using VAR_INPUT, VAR_OUTPUT, VAR_IN_OUT'
    CG_RES_STR_ARRAY_BASE        "arrays of base type"
    CG_RES_STR_DADDR_WOUT_NAME   "direct address without symbolic name"
    CG_RES_STR_DADDR_WITH_MEM    "direct address with memory location 'M'"
    CG_RES_STR_DADDR_VARCONFIG   "incomplete direct address in VAR_CONFIG style"
    CG_RES_STR_DADDR_OPC         "incomplete direct OPC address using '""<field>""'"

    CG_RES_STR_DATATYPE          "data type "
    CG_RES_STR_USEDLIT           " used literal "
    CG_RES_STR_LONGERTHAN        " longer than "
    CG_RES_STR_CHARS             " characters"

    CG_RES_STR_NOFORMAT          "no [format] section found"
    CG_RES_STR_NOKEY             "no 'version=' key found"
    CG_RES_STR_UNEXPKEY          "unexpected second version key"
    CG_RES_STR_FCT_WRONG_PARAM   "function parameter passing using <formal>:=<actual>"

    CG_RES_STR_RESATTR1          "\n   resource attributes (*[[.. ]]*) after resource name\n"
    CG_RES_STR_RESATTR2          "\n  (*[[.. ]]*)\n  RESOURCE <name> ON ...."

    CG_RES_STR_NL                "<new line>"
    CG_RES_STR_EOF               "<end of file>"
    CG_RES_STR_EMPTYHDR          "<empty header>"
    CG_RES_STR_IDENTIFIER        "<identifier>"
    CG_RES_STR_SFC_LANG          "SFC language"
    CG_RES_STR_FBD_LANG          "FBD language"
    CG_RES_STR_LADDER_LANG       "Ladder language"
    CG_RES_STR_USEDCONST         " (used CONST "
    CG_RES_STR_FROM              " from "
    CG_RES_STR_ALREADY_DEF       ", already defined in "
    CG_RES_STR_GLOBALINRES       "VAR_GLOBAL in resource, use #import ""<file>.gvl"" instead"


    CG_RES_STR_STEP_NAME         "step-name"
    CG_RES_STR_ACTBL_NAME        "action block-name"

    CG_RES_STR_ST1               "white space before/after '.' in system comment"
    CG_RES_STR_ST2               "VAR_GLOBAL in configuration scope"
    CG_RES_STR_ST3               "RESOURCE declaration in .con file, use #import ""<file>.res"" instead"
    CG_RES_STR_ST4               "program configuration elements following the program type name"
    CG_RES_STR_ST5               "'leading NATIVE block' "
    CG_RES_STR_ST6               "overloads: using '|' for non basic types"
    CG_RES_STR_ST7               "<identifier>"
    CG_RES_STR_ST8               "\n     inline is now a keyword, don't need #pragma"
    CG_RES_STR_ST9               "'#pragma overload <type list>'"
    CG_RES_STR_ST10              "\n    'overload <type list>'"
    CG_RES_STR_ST11              "\n    overload is now a keyword, don't need #pragma"
    CG_RES_STR_ST12              "declaration keyword inside body?"
    CG_RES_NS_COMPL_TYP_FUN_OUT  "function output parameter of non simple data type (only allowed if inline{<native code>} body)"
	CG_RES_NS_AT_SYSVAR          "'AT <sys var>' syntax: no system variables defined"
    CG_RES_STR_GT_VAR_EXT        "EQ,NE,LT,LE,GT,GE for more than 2 arguments"
    CG_RES_LD_VARW_BAD_USE       "Var Read/Write unexpected here (looks like FBD), use Contact/Coil instead"
END
