
#include "4cvm.rc"
#include "resource.h"


STRINGTABLE DISCARDABLE 
BEGIN
    CG_RES_STR_CMD1                         "command line with multiple targets"
    CG_RES_STR_CMD2                         "build target of type "
    CG_RES_STR_CMD3                         "build library of type "
    CG_RES_STR_CMD_MSG                      "   - generating debug code -\r\n"

    CG_RES_STR_NOIOCOMP                     "no IO component defined"

    CG_RES_STR_EDGE_IN_FB                   "R/F_EDGE in user function block"
    CG_RES_STR_AT_IN_PRG                    "AT %<addr> inside program"
    CG_RES_STR_BOOL_WITH_INOUT              "boolean variables with VAR_IN_OUT"
    CG_RES_STR_INIT_INST                    "initialisation of instances"
    CG_RES_STR_INIT_VAR_DADDR               "initialisation of string variables with direct address"
    CG_RES_STR_LOC_CPLX_TYPE                "local variables of complex type in functions"
    CG_RES_STR_LOC_QVT_IN_FCT               "local variables of QVT type in functions"

    CG_RES_STR_MEMCPY_64K                   "memcopy of more than 64 kByte"
    CG_RES_STR_CPLX_DEEPCOPY                "deep copy of instance with complex member"
    CG_RES_STR_INIT_VAR_AT                  "initialisation of variable with direct address"
    CG_RES_STR_WRONG_INLINE_FB              "function block inline syntax other than [STDLIB|EXTLIB](identifier)"
    CG_RES_STR_CALL_INOUT_FB                "calling function blocks passed as VAR_IN_OUT"
    CG_RES_STR_CPLX_TMP_LD_FBD              "complex Tmp Var. LD / FBD network layout forcing Tmp Var"
    CG_RES_STR_OP_ON_DTYPE                  " operation on data type "

    CG_RES_STR_LIC_DATA                     "<license data>"
    CG_RES_STR_MULTI_TRG                    "multiple targets"
    CG_RES_STR_MORE_THAN                    "more than "
    CG_RES_STR_TASKS                        " task(s)"
    CG_RES_STR_ADR_NO_TRG                   "cannot use direct address if POU has no target scope (building a library?)"

    VM_RES_STR_NS_ARR_IDX                   "data type '%1' as array index"
	VM_RES_STR_NS_RETAIN_DIRADDR            "retain variables with direct address"
	VM_RES_STR_NS_RETAIN_VARS               "retain variables"
	VM_RES_STR_NS_STRUCTAT_NOSIMPLE         "STRUCT/FB with direct address containing nonsimple members"
    VM_RES_STR_COPY_ASSUMED_SIZE            "copy of assumed size array/variable"
    VM_RES_STR_CPLX_ARRAY_DEEPCOPY          "copy of array of complex data type"
    VM_RES_STR_NS_ARRAY_AT_ADDR             "array at %-address"    
    VM_RES_STR_NS_CMPLX_ARRAY_AT            "array at %-address with complex type"
    VM_RES_STR_WRONG_ARRAY_ADDR             "wrong address size specifier '%1' for type '%2'"
    VM_RES_STR_NS_LOCAL_RETAIN              "local RETAIN variables (only VAR_GLOBAL RETAIN possible)"
    VM_RES_STR_NS_CMPLX_RETAIN              "VAR_GLOBAL RETAIN variables of complex type"
    CG_RES_STR_NS_NON_RETAIN                "NON_RETAIN in user function blocks"
    CG_RES_STR_NS_FBI_RETAIN                "RETAIN of function block/program instances"
    CG_RES_STR_NS_MULTI_RETSEC              "more than one RETAIN declaration section"
    CG_RES_STR_NS_MULTI_CRETSEC             "more than one CONSTANT RETAIN declaration section"
    VM_RES_STR_BOOL_FUN_VARIO               "boolean variables as function VAR_OUTPUT/VAR_IN_OUT"
	VM_RES_STR_INV_ADDR_FMT                 "invalid address format"
	VM_RES_STR_ADDR_CHANNEL_SIZE            "exceeds channel size"
    VM_RES_STR_INVALID_CHANNEL              "channel %1%2 has no %%%3 segment"
    VM_RES_STR_ARRAY_AT_BITPOS              "array at bit position (bit offset must be a multiple of 8)"
    VM_RES_STR_NS_TYPE_AT_ADDR              "direct address with data type "
    VM_RES_STR_NS_FEATURE_VER_MIN           "%1 in this version %2, need >=%3" 
    VM_RES_STR_OVERLAPSWITH                 "overlaps with "
    VM_RES_STR_NS_FEATURE_VER_MAX           "%1 in this version %2, need <=%3" 
END
